@model  CarMastery.UI.Models.AddVehiclesViewModel
@{
    ViewBag.Title = "AddVehicle";
}

<h2><strong>Add Vehicle</strong></h2>


@using (Html.BeginForm("AddVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical", role = "form", id = "frmAddVehicle" }))
{
    @Html.ValidationSummary();

    <div class="row">

        <div class="col-md-6 form-group">
            <label for="makeId">Make</label>
            @Html.DropDownList("makeId", new SelectList(Model.Makes, "MakeId", "MakeDescription"), new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            <label for="modelId">Model</label>
            @Html.DropDownListFor(m => m.VehicleToAdd.ModelId, new SelectList(" "), new { @class = "form-control" })
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 form-group">
            <label>Type</label>
            @Html.DropDownListFor(m => m.VehicleToAdd.VehicleTypeId, Model.VehicleType, new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            <label>Body Style</label>
            @Html.DropDownListFor(m => m.VehicleToAdd.BodyStyleId, Model.BodyStyle, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 form-group">
            <label>Year</label>
            @Html.TextBoxFor(m => m.VehicleToAdd.VehicleYear, new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            <label>Transmission</label>
            @Html.DropDownListFor(m => m.VehicleToAdd.TransmissionId, Model.Transmission, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label>Color</label>
            @Html.DropDownListFor(m => m.VehicleToAdd.BodyColorId, Model.BodyColor, new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            <label>Interior</label>
            @Html.DropDownListFor(m => m.VehicleToAdd.InteriorColorId, Model.InteriorColor, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 form-group">
            <label>Mileage</label>
            @Html.TextBoxFor(m => m.VehicleToAdd.VehicleMileage, new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            <label>VIN #</label>
            @Html.TextBoxFor(m => m.VehicleToAdd.VehicleVIN, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 form-group">
            <label>MSRP</label>
            @Html.TextBoxFor(m => m.VehicleToAdd.VehicleMSRP, new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            <label>Sale Price</label>
            @Html.TextBoxFor(m => m.VehicleToAdd.VehicleSalesPrice, new { @class = "form-control" })
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label>Description</label>
            @Html.TextAreaFor(m => m.VehicleToAdd.VehicleDescription, new { @rows = 5, @class = "form-control" })
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 form-group">
            <label>Picture</label>
            <input id="PictureUpload" name="PictureUpload" type="file" class="form-control" />
        </div>

    </div>

    <button class="btn btn-primary">Save</button>
}



@section scripts
    {
    <script>
        $(document).ready(function () {

            var contentRows = $('#VehicleToAdd_ModelId');
            param = 'makeId=' + $('#makeId').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:49771/api/models/search?' + param,
                success: function (data) {
                    $('#VehicleToAdd_ModelId').empty();

                    $.each(data, function (index, reportLine) {
                        var row = '<option value="';
                        row += reportLine.ModelId;
                        row += '">'
                        row += reportLine.ModelDescription;
                        row += '</option>';
                        contentRows.append(row);
                    });
                },
                error: function () {
                    alert('Error performing search, try again later!')
                }
            });

                    $('#makeId').change(function () {
                        var contentRows = $('#VehicleToAdd_ModelId');
                        param = 'makeId=' + $('#makeId').val();

                        $.ajax({
                            type: 'GET',
                            url: 'http://localhost:49771/api/models/search?' + param,
                            success: function (data) {
                                $('#VehicleToAdd_ModelId').empty();

                                $.each(data, function (index, reportLine) {
                                    var row = '<option value="';
                                    row += reportLine.ModelId;
                                    row += '">'
                                    row += reportLine.ModelDescription;
                                    row += '</option>';
                                    contentRows.append(row);
                                });
                            },
                            error: function () {
                                alert('Error performing search, try again later!')
                            }
                        });
                    })

                $('#frmAddVehicle').validate({
                    rules: {
                        'VehicleToAdd.VehicleYear': {
                            required: true,
                            number: true,
                            min: 2001
                        },
                        'VehicleToAdd.VehicleMileage': {
                            required: true,
                            number: true,
                            min: 1
                        },
                        'VehicleToAdd.VehicleVIN': {
                            required: true
                        },
                        'VehicleToAdd.VehicleMSRP': {
                            required: true,
                            number: true,
                            min: 1
                        },
                        'VehicleToAdd.VehicleSalesPrice': {
                            required: true,
                            number: true,
                            min: 1
                        },
                        'PictureUpload': {
                            required: true
                        },
                        'VehicleToAdd.VehicleDescription': {
                            required: true
                        }
                    } //rules
                }); // form validation
            }); // document ready
    </script>
}




