@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript: document.getElementById('logoutForm').submit()">Log Out</a>
            </li>
        </ul>
    }
}

@if (Request.IsAuthenticated && User.IsInRole("Sales"))
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Sales
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Index", "Index", "Sales", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </li>
}


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Admin
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Makes", "Makes", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Models", "Models", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Specials", "Specials", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Users", "Users", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Vehicles", "Vehicles", "Admin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Reports", "Index", "Reports", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </li>
}

